.nav {
    position: fixed;
    top: 0;
    padding: 20px 0;
    width: 100%;
    height: 30px;
    z-index: 1;

    background: transparent;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__white {
    background: #fff;
}
.nav__elementBlack {
    color: #3f4254 !important;
}
.nav__contents {
    width: 100%;
    height: 30px;
    background: transparent;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__logo {
    flex: 0.1;
    width: 45px;
    height: 45px;;
    object-fit: contain;
    cursor: pointer;
    border-radius: 11px;
}
.nav__userLabel {
    color: #fff;
    font-weight: 500;
    font-size: .8rem;
}
.nav__right {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__userClickable {
    display: flex;
    padding: 10px;
    border-radius: 11px;
    cursor: pointer;
    align-items: center;
    transition: 0.3s;
}
.nav__userClickable:hover {
    background-color: #e8e7e719;
    border-color: transparent;
}
.nav__userAvatar {
    height: 30px;
    width: 30px;
    border-radius: 7px;
    margin-right: 10px;
    cursor: pointer;
}
.nav__settings {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}
.nav__mobile {
    display: none;
}
.nav__large {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .nav__large {
        display: none;
    }
    .nav__mobile {
        display: flex;
        align-items: center;
    }
    .nav__right {
        flex: 0.9;
    }
}